::-webkit-scrollbar {
    display: none;
}

body {   
    display: flex;
    position: relative;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: sans-serif
}

body > img {
    max-width: 100%;
}

main {    
    position: absolute;
    bottom: 35%;
}

h1 {
    font-size: 63px;
    padding: 25px;
}


